{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('edit_training', {'training': training.id}) }}">Bearbeiten</a></p>
    <h3>{{ training.title }}</h3>
    <p>{{ training.creator }}</p>
    <p>{{ training.trainingType }}</p>
    <p>{{ training.description }}</p>
    {% if training.start.diff(training.end).days == 0 %}
        <p>{{ training.start|date('d.m.Y, H:i') }} - {{ training.end|date('H:i') }}</p>
    {% else %}
        <p>{{ training.start|date('d.m.Y H:i') }} - {{ training.end|date('d.m.Y H:i') }}</p>
    {% endif %}
    {% if training.public is not same as(null) %}
        <p>Öffentlicher Link: <a href="{{ app.request.getSchemeAndHttpHost() ~ path('show_training_by_hash', {'hash': training.public}) }}">{{ app.request.getSchemeAndHttpHost() ~ path('show_training_by_hash', {'hash': training.public}) }}</a></p>
    {% endif %}
    <p>Angemeldet:</p>
    <ul id="subscribed">
    {% for attendant in training.getEnlistedAttendances() %}
        <li id="attendant_{{ attendant.person.id }}">{{ attendant.person }} <a href="javascript:void(0);" onclick="javascript:confirmAttendance({{ training.id }}, {{ attendant.person.id }});">Teilnahme bestätigen</a></li>
    {% endfor %}
    </ul>
    <p>Teilgenommen:</p>
    <ul id="participated">
    {% for attendant in training.getConfirmedAttendances() %}
        <li id="attendant_{{ attendant.person.id }}">{{ attendant.person }} <a href="javascript:void(0);" onclick="javascript:removeAttendanceConfirmation({{ training.id }}, {{ attendant.person.id }});">Teilnahmebestätigung entfernen</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
<script>
function confirmAttendance(trainingId, personId)
{
    $.post("{{ path('training_confirm_attendance') }}", {
        training: trainingId,
        person: personId
    }, function (res) {
        $("#attendant_" + res.person.id).remove();
        $("#participated").append($("<li>", {
            id: "attendant_" + res.person.id,
            text: res.person.firstName + " " + res.person.familyName + " "
        }).append($("<a>", {
            href: "javascript:void(0);",
            onclick: "javascript:removeAttendanceConfirmation(" + res.training.id + ", " + res.person.id + ");",
            text: "Teilnahmebestätigung entfernen"
        })));
    });
}

function removeAttendanceConfirmation(trainingId, personId)
{
    $.post("{{ path('training_remove_attendance_confirmation') }}", {
        training: trainingId,
        person: personId
    }, function (res) {
        $("#attendant_" + res.person.id).remove();
        $("#subscribed").append($("<li>", {
            id: "attendant_" + res.person.id,
            text: res.person.firstName + " " + res.person.familyName + " "
        }).append($("<a>", {
            href: "javascript:void(0);",
            onclick: "javascript:confirmAttendance(" + res.training.id + ", " + res.person.id + ");",
            text: "Teilnahme bestätigen"
        })));
    });
}
</script>
{% endblock %}
